@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: 
  linear-gradient(45deg, rgb(58, 87, 64) 0%, rgba(190, 136, 136, 0) 70%) repeat scroll 0% 0%, 
  linear-gradient(135deg, rgb(132, 201, 83) 10%, rgba(158, 146, 197, 0) 80%) repeat scroll 0% 0%, 
  linear-gradient(225deg, rgb(43, 78, 56) 10%, rgba(12, 14, 13, 0) 80%) repeat scroll 0% 0%,
   rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(33, 54, 36) 100%, rgba(33, 121, 33, 0) 70%) repeat scroll 0% 0%;
  
  background-position: center;
}