.card {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #00000069;
  border-radius: 12px;
  background: linear-gradient(-55deg,  #95b4a277, #bed8c15d, #c4dbcd73);
  margin: 0.5rem;
}

.none{
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem;
}
