/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #4b6831;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: rgb(255, 255, 255);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 3px solid var(--color);

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  font-size: larger;
  color: black;
}

.button-89:active {
  background: var(--color);
  color: #ffffff;
}

.button-89:link{
  text-decoration: none;
}

.MuiTabs-scrollButtons{
  color:white;
  

}
.MuiTabs-scrollButtonsHideMobile{
  color: white;
}